a{
	color: #663300;
	text-decoration: none;
	font-style: italic;
}
a:hover{
	text-decoration: underline;
}
#adminLog{
	width: 170px;
	position: absolute;
	top: 300px;
	left: 0px;
	padding: 7px;
}
.admin_log_from_div{
	margin: 10px 0px;
}
.admin_log_from_div label{
	display: block;
}
.admin_log_from_div input{
	width: 100%;
	border: none;
	padding: 2px 3px;
	margin-top: 2px;
}
.admin_log_from_submit{
	margin: 10px auto;
	display: block;
}
#author{
    text-align: center;
}
.block_floats {
	width: 300px;
	float: left;
	margin: 5px;
	border-radius: 7px;
	padding: 5px 7px;
	border: 1px dotted darkslategray;
}
.block_floats h3{
	border-bottom: 1px solid darkslategray;
	margin: 5px 0px 10px 0px;
	padding: 0px 0px 0px 5px;
}
body{
    background-color: #e3d9cd;
    font-family: serif;
}
#body{
    position:relative;
    top: 250px;
}
.clenTable {
	width: 100%;
}
.clenTable .clenTable_left{
	width: 120px;
	font-size: 0.85em;
	text-align: right;
	padding-right: 5px;
}
#content{
    margin: 0px 200px;
    text-align: justify;
    line-height: 1.8em;
    font-family: 'Open Sans',monospace;
}
#cislovani_stranek{
	text-align: center;
}
#cislovani_stranek a{
	border: 2px solid darkslategray;
	text-decoration: none;
	color: darkslategray;
	border-radius: 4px;
	padding: 3px 5px;
	margin: 0px 2px;
	font-style: normal;
}
#cislovani_stranek a:hover{
	border: 2px solid brown;
}
#cislovani_stranek #aktualniStrana{
	background-color: darkslategray;
	color: #f6bf22;
}
#cislovani_stranek #aktualniStrana:hover{
	border: 2px solid brown;
	background-color: brown;
}
#drobeckovaNavigace{
	font-size: 14px;
	margin: 5px 200px 10px 200px;
}
.entries_autor{
	display: inline-block;
	font-style: italic;
}
.entries_all{
	margin: 0px 0px 30px 0px;
	padding: 15px;
	border: 1px dotted darkslategray;
	border-radius: 7px;
}
.entries_all_h3{
	margin: 0px;
}
.entries_all_h3 a{
	font-style: normal;
	color: black;
}
.entries_vytvoreno{
	display: inline-block;
	width: 220px;
	font-style: italic;
}
#footer{
    color: #f6bf22;
    position:absolute;
    left:0px;
    clear: both;
    width:100%;
    margin-top: 350px;
    height: 100px;
    background-image: url('../images/page/footer/footer.png');
    padding: 40px 0px 10px 0px;
    z-index: -5;
}
#footer a{
    text-decoration: none;
    color: #f6bf22;
}
.foto_detail{
	max-width: 85%;
	max-height: 500px;
	display: block;
	margin: 0px auto;
}
.galleryWrapper{
	text-align: center;
}
.galleryWrapperIMG{
	display: inline-block;
}
.galleryWrapperIMG_detail{
	display: block;
	font-size: 15px;
	background-color: rgba(47,79,79,0.3);
	color: gold;
	font-style: normal;
	margin: 0px 5px;
	border-radius: 0px 0px 5px 5px;
	position: relative;
	top: -31px;
}
.galleryWrapperIMG_detail:hover{
	background-color: rgba(47,79,79,1);
}
.galleryWrapperIMG_smazat{
	display: block;
	font-size: 15px;
	background-color: rgba(47,79,79,0.3);
	color: gold;
	font-style: normal;
	margin: 0px 5px;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	position: relative;
	top: 31px;	
	cursor: pointer;
}
.galleryWrapperIMG_smazat:hover{
	background-color: rgba(47,79,79,1);
}
.ilustrace_float{
	float: right;
	width: 35%;
	position: relative;
	margin: 0px 0px 20px 30px;
	z-index: -1000;
	clear:right;
}
.img_uniformy{
    margin: 3px 5px;
    border: 3px solid darkslategray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline;
    text-align: center;
    height: 150px;
}
.imgWrapper{
	text-align: center;
}
.input_form label{
	display: block;
	margin: 10px 0px 3px 30px;
}
.input_form input{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	margin: 0px 0px 20px 0px;
}
h2{
    font-size: 1.8em;
    text-decoration: underline;
}
h3{
	margin: 10px 0px 0px 35px;
	padding: 0px;
	font-style: italic;
}
#header {
    display: inline-block;
    position: absolute;
    width: 100%;
    background-image: url('../images/page/header/background.png');
    height: 250px;
    top: 0px;
    left: 0px;
}
#header h1{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 70px 0px 0px 140px;
    height: 171px;
    background-repeat: no-repeat;
    background-image: url('../images/page/header/logo.png');
    color: #f6bf22;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#header h1 span{
    font-size: 20px;
    display: block;
    position: relative;
    left: 33px;
    top: 5px;
}
.kalendar_date{
	width: 180px;
	display: inline-block;
}
#listWithoutPoints li{
	display: block;
}
#navigation{
    position:absolute;
    top: 162px;
    font-size: 17px;
}
#navigation a{
    color: #f6bf22;
    text-decoration: none;
    font-style: normal;
}
#navigation li{
    display: inline-block;
    width: 130px;
    height: 25px;
    text-align: center;
}
#navigation li ul{
   display: none;
}
#navigation li ul li{
    background-image: url('../images/page/menu/znamka.png');
    width: 200px;
    padding: 10px;
    position:relative;
    z-index: 1;
}
#navigation li:hover ul{
    display:block;
    position: absolute;
}
#navigation li:hover ul li ul{
    display: none;
}
#navigation li:hover ul li ul li{
    width: 200px;
    position: relative;
    left: 20px;
    top: -10px;
}
#navigation li ul li:hover ul{
    display: inline-table;
}
#navigation-footer{
    text-align: center;
}
#navigation-footer li ul{
    display: none;
}
#navigation-footer li{
    display: inline-block;
    clear: both;
}
#panel_l{
     position: fixed;
     top:0px;
     left: 0px;
     z-index: -1;
     height: 100%;
     width: 200px;
     background-repeat: repeat-y ;
 }
#panel_r{
    position: fixed;
    top:0px;
    right: 0px;
    z-index: -1;
    height: 100%;
    width: 200px;
    background-repeat: repeat-y ;
}
.textarea_editor{
	min-height: 400px;
}
.uniformy_logo{
	width: 100px;
	float: left;
	margin: 10px 30px 10px 0px;
}
#wrapper{
	clear: both;
}
#zmena_obdobi{
	font-size: 20px;
	margin: 5px 0px 10px 100px;
}
#zmena_obdobi a{
	color: gray;
	font-style: normal;
	margin: 0px 3px;
}
#zmena_obdobi .activeYear{
	color: black;
	font-size: 23px;
}